/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* Embed Font */
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Source+Sans+Pro:300');


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*  =========================================
    Base
    =========================================  */

body {
  
  font-family: sans-serif;
}
.container {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 30px;
}
/*==========================================
        Header
==========================================*/

.header {
  display: grid;
  grid-template-columns: 70% 1fr;
  padding: 2rem 0;
  background: white;
}
.header li {
  list-style: none;
}
.top-nav-left ul,
.top-nav-right ul {
  display: flex;
}
.top-nav-left__item a {
  color: rgba(0,0,0,0.5);
  text-decoration: none;
  font-size: 14px;
}
.top-nav-left__item a:hover {
  color: purple;
}
.top-nav-right__item a {
  font-size: 20px;
}
.top-nav-left__item {
  margin-left: 3rem;

}
.flag-icon,
.user-img {
  height: 1.5rem;
  width: 1.5rem;
}
.user-img {
  border-radius: 50%;
 }
 .icon {
  margin-right: 10px;
 }
 .new-btn {
  padding: 2px;
  border-radius: 20px;
  width: 50px;
  background-color: purple;
 }
 .top-nav-right ul{
  justify-content: space-around;
  color: purple;

 }


/*  ========================================
    Sidebar M.S.
    ========================================  */

  .main {
    width: 78.7%;
    padding-left: 19rem;
    background: #ebedf2;
  }
  .nav-side{
    background:  #212529;
    padding-top: .1rem;
    width: 19rem;
    max-width: 19rem;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    position: fixed;
  }

  a{
    text-decoration: none;
    color: #868aa8;
    padding: 0 2rem; 
  }

  .main__list{
    color: white;
    font-size: 1rem;
    padding: .1rem 2rem;
    font-weight: 100;
    background: #282a3c;
  }

  .list--1{
    margin: 3rem 0;
  }

  .line{
    background: white;
    width: 35px;
    height: 2px;
    position: absolute;
    left: 80%;
    top: 2.5%;
    transition: all .7s;
    cursor: pointer;
  }

  .line-1{
    margin: 7px 0px;
  }

  .line-2{
    margin: 14px 0px;
    transform: scaleX(.7);
  }

  .line-3{
    transform: scaleX(.6);
  }

  .lines:hover .line{
    transform: scaleX(1);
    background: #2739c1;
  }

  .dash{
    color:#6610f2;
  }

  .list--heading{
    color: #464b66;
    font-size: .7rem;
    padding: 0rem 2rem;
  }

  .side-list_items{
    padding: .7rem 0rem;
    font-size: .9rem;
  }

  .side-list_items:hover{
    background: #282a3c;
    width: 100%;
  }

  i{
    font-size: 1.1rem;
  }
  li:hover i{
    color: pink;
  }
 
body{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

/* .nav-side{
  background:  #212529;
  padding-top: .1rem;
  width: 19rem;
  max-width: 19rem;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  position: relative;
  letter-spacing: 1px;
} */

ul,li{
  list-style: none;
  margin:0;
  padding: 0;
}

a{
  text-decoration: none;
  color: #868aa8;
  padding: 0 2rem;
  
}

.main__list{
   color: white;
   font-size: 1rem;
   padding: .1rem 2rem;
   font-weight: 100;
   background: #282a3c;
}

.list--1{
  margin: 3rem 0;
}

.line{
  background: white;
  width: 35px;
  height: 2px;
  position: absolute;
  left: 80%;
  top: 2.5%;
  transition: all .7s;
  cursor: pointer;
}

.line-1{
  margin: 7px 0px;
}

.line-2{
  margin: 14px 0px;
  transform: scaleX(.7);
}

.line-3{
  transform: scaleX(.6);
}

.lines:hover .line{
  transform: scaleX(1);
  background: #2739c1;
}

.dash{
  color:#6610f2;
}

.list--heading{
  color: #464b66;
  font-size: .7rem;
  padding: 0rem 2rem;
 }

.side-list_items{
  padding: 1rem 0rem;
  font-size: .85rem;
  font-weight: 400;
}

.side-list_items:hover{
  background: #282a3c;
  width: 100%;
}

i{
  font-size: 1rem;
  display: inline-block;
}
li:hover i{
  color: pink;
}
.list_sub{
  margin: 1rem 1.2rem;
  display: none;
}
.side-list_items-sub{
  list-style-type:disc;
  list-style-position: inside;
  margin: .5rem 1.1rem;
  color: #868aa8;
}
.side-list_items-sub a{
  padding: 0rem;
}
.side-list_items:hover .list_sub{
  display: block;
}
.side-list_items-sub:hover a{
  color: #716aca;
}

 

/*  ========================================
    SubHeading
    ========================================  */
.sub_header {
  /*margin-top: 100px;*/
  margin: 40px 0;
}
.sub_header_title {
  display: inline-block;
  padding: 10px 0;
  font-size: 1.3rem;
  font-weight: 700;
  vertical-align: middle;
  color: #3f4047;
}
.sub_header__daterange {
  display: inline-block;
  float: right;
  background: #fff;
  cursor: pointer;
  border-radius: 2rem;
  padding: 5px;
}
.sub_header__daterange_date {
  display: inline-block;
  padding: 5px;
  font-size: 14px;
  font-weight: 600;
  padding-left: 15px;
}
.sub_header__daterange_btn {
  display: inline-block;
  background: #716aca;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}
.sub_header__daterange_btn .fa-angle-down {
  margin: 25% 0 0 35%;
  color: #f8f9fa;
}

/*  ========================================
    For All sections
    ========================================  */

.grid1 {
  display: grid;
  grid-gap: 30px;
}
.grid2 {
  display: grid;
  grid-gap: 2px;
}
.col-1-1-1 {
  grid-template-columns: 1fr 1fr 1fr;
}
.col-1-1 {
  grid-template-columns: 1fr 1fr;
}
.col-2-1 {
  grid-template-columns: 2fr 1fr;
}
.box {
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 0 7px .5px #bdc0c8;
}
li {
  display: inline-block;
  list-style-type: none;
}
ul {
  display: inline-block;
}
nav {
  display: inline-block;
}

/*  ========================================
    Section first
    ========================================  */


.trends_chart {
  background: url('media/treands-chart.png');
  height:300px;
}
.activity {
  position: relative;
}
.activity-chart {
  background: linear-gradient(#dc3545, #e83e8c);
  height: 300px;
}
.blog {

}
.blog-img-area {
  height: 200px;
  position: relative;
}
.blog-img {
width: 100%;
height: 100%;
}
.blog-nav {
  display: inline-block;
  margin: 20px 0 20px 30px;
  padding: 7px 10px;
  background: #6610f2;
  color: white;
  border-radius: 25px;
  font-size: 13px;
}
.blog-title {
  color: white;
  margin: 0 20px;
  font-size: 1.45rem;
  font-weight: 600;
  bottom: 0;
  position: absolute;
}
.blog-disc {
  padding: 20px;
}
._header {
  padding: 10px 30px;
  font-weight: 600;
  font-size: 20px;
  color: #737377;
}
._header__btn {
  float: right;
  padding: 10px 15px;
  border: 1px solid rgb(187, 179, 179);
  border-radius: 25px;
}
.activity_header__btn {
  border: none;
}
.activity_header {
  color: white;
}
.activity-cards {
  position: absolute;
  top: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}



/*  ========================================
    Section second
    ========================================  */



/*  ========================================
    Section Third
    ========================================  */

.personal-income-hero {
  background: url('media/personal-income-bg.jpg') center;
  background-size: cover;
  max-height: 286px;
  height: 280px;
}
.finance-state-hero {
  background: #5075E4;
  height: 280px;
}
.packages {
  background: #ffb822;
}

/*  ========================================
   Recent Notifacation
    ========================================  */
.recent-notifacation {
  background-color: #fff;
  box-shadow: 0 0 7px .5px #bdc0c8;
  box-sizing: border-box;
}
.recent-heading {
  padding: 30px;
  border-bottom: .5px solid #bdc0c8;
}
.recent_heading_tools {
  float: right;
  vertical-align: top;
}
 .nav_item a {
  text-decoration: none;
  color:#7069ca;
  padding: 0;
  padding-right: 20px;
 }
 button {
  background-color:#7069ca;
  border: none;
  color: #fff;
  border-radius: 20px;
  outline: none;
  padding: 0.6em 1.4em;
  font-size: .85rem;
 }
.list_items {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 15px 20px;
  padding: 40px 0px;
  color: #575962;
}
.time {
  color:#40534f;
  padding: 15px 20px;
  font-size: 20px;
  border-right: 4px solid #36a3f7;
}
.time1{
   border-right: 4px solid #feb93b;
}
.time2{
   border-right: 4px solid #7069ca;
}
.time3{
   border-right: 4px solid #3abfa3;
}
.time4{
   border-right: 4px solid #283d39;
}
.time5{
   border-right: 4px solid #7069ca;
}
.time6{
   border-right: 4px solid #f4516c;
}
.time7{
   border-right: 4px solid #e751f4;
}
.title{
  align-items: center;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: Roboto;
  margin: 0;
  padding: 0;
}
.author {
  font-size: .8rem;

}
.author__name {
  text-decoration: none;
  color: gray;
<<<<<<< HEAD
}

/*==================================
support ticket
==================================*/
.support-tickets {
  width: 38vw;
  padding: 20px;
  box-shadow: 0 0 7px .5px #bdc0c8;
  font-family: 'Poppins', sans-serif;
}
.support-tickets__header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.support-tickets__heading {
  font-weight: 600;
}
.user-name {
  font-size: 15px;
  font-weight: 600;
  margin-left: 10px;
  color: rgba(0,0,0,0.8);
}
.user-img1,
.user-name {
  display: inline-block;
}
.support-tickets__row {
  line-height: 1rem;
  margin-top: 1.5rem;
  /*border-bottom: 2px dashed rgba(0,0,0,0.5);*/
}
.user-img1 {
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 50%;
}
.user-description {
  display: flex;
  justify-content: space-between;
}
.user-name div{
  font-size: 12px;
  color: rgba(0,0,0,0.5);
}
.ticket-description {
  font-size: 14px;
  margin-top: 10px;
  
  color: rgba(0,0,0,0.5);
}
.ticket-status {
  font-size: 15px;
}
.blue {
  color: steelblue;
}
.purple {
  color: purple;
}
.green {
  color: #48D1CC;
=======
  padding: 0;
>>>>>>> 2627f68f6cf3d6479c7099ac57c4a163762a1c3f
}