/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* Embed Font */
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Source+Sans+Pro:300');


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*  =========================================
    Base
    =========================================  */

body {
  background: #ebedf2;
  font-family: sans-serif;
}
.container {
 width: 95%;
 margin: 0 auto;
}

/*  ========================================
    SubHeading
    ========================================  */
.sub_header {
  margin-top: 100px;
  margin-bottom: 40px;
}
.sub_header_title {
  display: inline-block;
  padding: 10px 0;
  font-size: 1.3rem;
  font-weight: 700;
  vertical-align: middle;
  color: #3f4047;
}
.sub_header__daterange {
  display: inline-block;
  float: right;
  background: #fff;
  cursor: pointer;
  border-radius: 2rem;
  padding: 5px;
}
.sub_header__daterange_date {
  display: inline-block;
  padding: 5px;
  font-size: 14px;
  font-weight: 600;
  padding-left: 15px;
}
.sub_header__daterange_btn {
  display: inline-block;
  background: #716aca;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}
.sub_header__daterange_btn .fa-angle-down {
  margin: 25% 0 0 35%;
  color: #f8f9fa;
}

/*  ========================================
    Section first
    ========================================  */

.grid{
  display: grid;
  grid-gap: 30px;
}
.col-1-3{
  grid-template-columns: 1fr 1fr 1fr;
}
.box{
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 0 7px .5px #bdc0c8;
}
/*  ========================================
   Recent Notifacation
    ========================================  */
.recent-notifacation {
  background-color: #fff;
  box-shadow: 0 0 7px .5px #bdc0c8;
  box-sizing: border-box;
  width: 500px;
}
.recent-head {
  display: grid;
  grid-template-columns:300px 200px;
}
.recent_heading{
 /* margin-top: 10px;*/
  margin-left: 20px;
  padding-top: 20px;
}
.recent_heading_tools ul li{
  list-style-type: none;
  display: inline-block;
  margin:0 5px;
  padding-top: 20px;
 }
 .navigation li a {
  text-decoration: none;
  color:#7069ca;
 }
 button {
  background-color:#7069ca;
  border: none;
  color: #fff;
  border-radius: 20px;
  outline: none;
  padding: 0.6em 1.4em;
  font-size: .85rem;
 }
.list_items {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 15px 20px;
  padding: 15px 0px;
  color: #575962;
}
.time {
  color:#40534f;
  padding: 15px 20px;
  font-size: 20px;
  border-right: 4px solid #36a3f7;
}
.time1{
   border-right: 4px solid #feb93b;
}
.time2{
   border-right: 4px solid #7069ca;
}
.time3{
   border-right: 4px solid #3abfa3;
}
.time4{
   border-right: 4px solid #283d39;
}
.time5{
   border-right: 4px solid #7069ca;
}
.time6{
   border-right: 4px solid #f4516c;
}
.time7{
   border-right: 4px solid #e751f4;
}
.title{
  align-items: center;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: Roboto;
  margin: 0;
  padding: 0;
}
.author {
  font-size: .8rem;
}
.author__name {
  text-decoration: none;
  color: gray;
}