/* Embed Roboto Font */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,500i');


/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* Embed Font */
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Source+Sans+Pro:300');


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*  =========================================
    Base
    =========================================  */

body {
  background: #ebedf2;
  font-family: sans-serif;
}
.container {
 width: 95%;
 margin: 0 auto;
}

/*  ========================================
    SubHeading
    ========================================  */
.sub_header {
  margin-top: 100px;
  margin-bottom: 40px;
}
.sub_header_title {
  display: inline-block;
  padding: 10px 0;
  font-size: 1.3rem;
  font-weight: 700;
  vertical-align: middle;
  color: #3f4047;
}
.sub_header__daterange {
  display: inline-block;
  float: right;
  background: #fff;
  cursor: pointer;
  border-radius: 2rem;
  padding: 5px;
}
.sub_header__daterange_date {
  display: inline-block;
  padding: 5px;
  font-size: 14px;
  font-weight: 600;
  padding-left: 15px;
}
.sub_header__daterange_btn {
  display: inline-block;
  background: #716aca;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}
.sub_header__daterange_btn .fa-angle-down {
  margin: 25% 0 0 35%;
  color: #f8f9fa;
}

/*  ========================================
    Section first
    ========================================  */

.grid{
  display: grid;
  grid-gap: 30px;
}
.col-1-3{
  grid-template-columns: 1fr 1fr 1fr;
}
.box{
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 0 7px .5px #bdc0c8;
}

/* Best Seller Section */
.best-seller {
  font-family: 'Roboto', sans-serif;
  max-width: 65%;
  margin: 2rem auto;
  background: #fff;
}

.best-seller_header_wrapper {
  display: grid;
  padding: 1.5rem 0;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #aaa;
}

.best-seller_title {
  padding-left: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: #575962;
}

.best-seller_buttons {
  justify-self: end;
  padding-right: 1rem;
  font-size: 0.8rem;
  font-weight: 400;
}

.best-seller_link {
  color: #575962;
  padding: 0.5rem 0.5rem;
}

.active {
  background-color: #5867dd;
  color: #fff; 
  border-radius: 15px;
}

.best-seller_item_wrapper {
  padding: 1.5rem;
}

.best-seller_item_img {
  width: 115px;
}

.best-seller_item_info, .best-seller_item_purchase, .best-seller_item_details, .best-seller_item_purchase_block {
  display: inline-block;
}

.best-seller_item_details, .best-seller_item_purchase{
  vertical-align: top;
}

.best-seller_item_title, .best-seller_item_description, .best-seller_item_publish {
  margin: 0.3rem 0;
}

.best-seller_item_title, {
  font-size: 0.9rem;
  font-weight: 500;
}

.best-seller_item_description {
  font-weight: 300;
  font-size: 0.7rem;
}

.best-seller_item_publish {
  font-weight: 400;
  font-size: 0.8rem;  
}


.best-seller_item_purchase {
  /* padding-top: 1.5rem; */
  padding-left: 1.5rem;
}

.best-seller_item_values {
  font-size: 1.3rem;
}
 